{% extends 'base.html.twig' %}

{% block title %}Hello InvertedIndexController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .word-cloud {
            width: 100%;
            height: 500px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">

                <div class="form">
                     <form method="get">
                         <i class="fa fa-search"></i>
                         <input type="text" class="form-control form-input" id="search-term" name="term" value="{{ term }}" placeholder="Search anything...">
                         <span class="left-pan"><button type="submit" class="btn btn-sm btn-outline-secondary">Search</button></span>

                     </form>
                </div>

            </div>
        </div>
        <div class="row height d-flex justify-content-center align-items-center">
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Nuage des mots</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body overflow-auto word-cloud" style="max-height: 500px;" id="word-cloud">

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">

                {% if term %}
                    <div class="d-flex align-items-center justify-content-center" style="height: 5vh;">
                        <h4>
                            Votre recherche pour  "{{ term }}" a retourné {{ results | length }} résultats
                        </h4>
                    </div>

                    {% if results is empty %}
                        <p>No documents found containing the term "{{ term }}".</p>
                    {% else %}
                        <ol>
                            {% set docId="" %}
                            {% for resultat in results %}
                                <li>
                                    <div class="card mt-3">
                                        <div class="card-body">

                                    <a href="{{ path('download_file', {'filename': resultat.document.name}) }}">

                                    {{ resultat.document.name}}
                                   <strong>({{ resultat.wordCount}})</strong>
                                    </a>


                                    <br>
                                    {{ resultat.preview }}...<br>
                                   <button type="button" onclick="changeText( {{resultat.wordArray|json_encode }})"
                                           class="btn float-right" data-id="{{ resultat.document.id }}"
                                           data-toggle="modal" data-target="#exampleModalCenter">
                                       <i class="fa-brands fa-cloudflare " style="color: cadetblue; width: 15px"></i>
                                   </button>

                                        </div>

                                    </div>

                                </li>

                            {% endfor %}
                        </ol>
                    {% endif %}
                {% endif %}
            </div>


        </div>

    </div>


{#    <form method="get">#}
{#        <label for="search-term">Enter a search term:</label>#}
{#        <input type="text" id="search-term" name="term" value="{{ term }}">#}
{#        <button type="submit">Search</button>#}
{#    </form>#}

    {% block js %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>

        <script>
            // Function to change the text in the word cloud
            function changeText(data) {
                // Clear the previous word cloud
                clearWordCloud();

                // Convert wordArray to an array of objects with text and a default size
                const words = data.map(word => ({ text: word, size: 20 + Math.random() * 30 }));

                // Create the word cloud layout
                const layout = d3.layout.cloud()
                    .size([500, 500])
                    .words(words)
                    .padding(5)
                    .rotate(() => ~~(Math.random() * 2) * 90)  // Rotate words randomly by 0 or 90 degrees
                    .fontSize(d => d.size)
                    .on("end", draw);

                layout.start();

                // Function to draw the words on the SVG canvas
                function draw(words) {
                    d3.select("#word-cloud").append("svg")
                        .attr("width", layout.size()[0])
                        .attr("height", layout.size()[1])
                        .append("g")
                        .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", d => d.size + "px")
                        .style("fill", () => `hsl(${Math.random() * 360},100%,50%)`)  // Random color for each word
                        .attr("text-anchor", "middle")
                        .attr("transform", d => "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")")
                        .text(d => d.text);
                }

                console.log(data);
            }

            // Function to clear the word cloud
            function clearWordCloud() {
                d3.select("#word-cloud").selectAll("*").remove(); // Clear existing words
            }

            // Modal show event listener (if needed)
            $('#exampleModalCenter').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget); // Button that triggered the modal
                const wordArray = JSON.parse(button.attr('onclick').match(/\(([^)]+)\)/)[1]); // Extract word array from onclick
                changeText(wordArray); // Call changeText with the extracted words
            });

        </script>


        {% endblock %}


{% endblock %}
